<style>
	.consonant_chart {
		border-spacing: 0;
		border-collapse: collapse;
	 }
	 
	.consonant_chart th {
		vertical-align: middle;
		padding: 10px;
	}
	
	.consonant_chart td {
		padding: 10px;
		border-left: 0; 
		border-right: 0; 
		text-align: center;
	}
	
	.left_col {  
		text-align: left;
	}
	
	.consonant_chart  tr {
	}
		
	.consonant_chart td, .consonant_chart th {
		 border: 1px solid gray;
	 }
</style>
<table class="consonant_chart" style="margin: auto; text-align: center; font-size: initial;">
	<tr style="font-size: 85%;">
		<th style="border-bottom: 0; text-align: right; font-weight: normal;"><a title="Place of articulation">Place</a> →</th>
		<th colspan="5"><a title="Labial consonant">Labial</a></th>
		<th colspan="9"><a title="Coronal consonant">Coronal</a></th>
		<th colspan="6"><a title="Dorsal consonant">Dorsal</a></th>
		<th colspan="6"><a title="Laryngeal consonant">Laryngeal</a></th>
	</tr>
	<tr style="font-size: 85%;">
		<th style="border-top: 0; text-align: left; vertical-align: bottom; font-weight: normal;"><a title="Manner of articulation">Manner</a> ↓</th>
		<th colspan="2"><a title="Bilabial consonant">Bi&shy;labial</a></th>
		<th colspan="2"><a title="Labiodental consonant">Labio&shy;dental</a></th>
		<th colspan="2"><a title="Linguolabial consonant">Linguo&shy;labial</a></th>
		<th colspan="2"><a title="Dental consonant">Dental</a></th>
		<th colspan="2"><a title="Alveolar consonant">Alveolar</a></th>
		<th colspan="2"><a title="Postalveolar consonant">Post&shy;alveolar</a></th>
		<th colspan="2"><a title="Retroflex consonant">Retro&shy;flex</a></th>
		<th colspan="2"><a title="Palatal consonant">Palatal</a></th>
		<th colspan="2"><a title="Velar consonant">Velar</a></th>
		<th colspan="2"><a title="Uvular consonant">Uvular</a></th>
		<th colspan="2"><a title="Pharyngeal consonant">Pharyn&shy;geal/Epi&shy;glottal</a></th>
		<th colspan="2"><a title="Glottal consonant">Glottal</a></th>
	</tr>
	<tr>
		<th class="left_col"><a title="Nasal stop">Nasal</a></th>
		<td>
			<a title="Voiceless bilabial nasal">m̥</a>
		</td>
		<td>
			<a title="Bilabial nasal">m</a>
		</td>
		<td style="min-width: 1.2em; max-width: 1.2em; border-right: 0;">
		</td>
		<td>
			<a title="Labiodental nasal">ɱ</a>
		</td>
		<td style="min-width: 1.2em; max-width: 1.2em; border-right: 0;">
		</td>
		<td>
			<a title="Linguolabial nasal">n̼</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless alveolar nasal">n̥</a>
		</td>
		<td>
			<a title="Dental, alveolar and postalveolar nasals">n</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex nasal">ɳ̊</a>
		</td>
		<td>
			<a title="Retroflex nasal">ɳ</a>
		</td>
		<td>
			<a title="Voiceless palatal nasal">ɲ̊</a>
		</td>
		<td>
			<a title="Palatal nasal">ɲ</a>
		</td>
		<td>
			<a title="Voiceless velar nasal">ŋ̊</a>
		</td>
		<td>
			<a title="Velar nasal">ŋ</a>
		</td>
		<td style="min-width: 1.2em; max-width: 1.2em; border-right: 0;">
		</td>
		<td>
			<a title="Uvular nasal">ɴ</a>
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col"><a title="Stop consonant">Stop</a></th>
		<td>
			<a title="Voiceless bilabial stop">p</a>
		</td>
		<td>
			<a title="Voiced bilabial stop">b</a>
		</td>
		<td>
			<a title="Voiceless labiodental stop">p̪</a>
		</td>
		<td>
			<a title="Voiced labiodental stop">b̪</a>
		</td>
		<td>
			<a title="Voiceless linguolabial stop">t̼</a>
		</td>
		<td>
			<a title="Voiced linguolabial stop">d̼</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless dental and alveolar stops">t</a>
		</td>
		<td>
			<a title="Voiced dental and alveolar stops">d</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex stop">ʈ</a>
		</td>
		<td>
			<a title="Voiced retroflex stop">ɖ</a>
		</td>
		<td>
			<a title="Voiceless palatal stop">c</a>
		</td>
		<td>
			<a title="Voiced palatal stop">ɟ</a>
		</td>
		<td>
			<a title="Voiceless velar stop">k</a>
		</td>
		<td>
			<a title="Voiced velar stop">ɡ</a>
		</td>
		<td>
			<a title="Voiceless uvular stop">q</a>
		</td>
		<td>
			<a title="Voiced uvular stop">ɢ</a>
		</td>
		<td>
			<a title="Epiglottal stop">ʡ</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Glottal stop">ʔ</a>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<th class="left_col"><a title="Sibilant">Sibilant</a> <a title="Affricate consonant">affricate</a></th>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless alveolar affricate">ts</a>
		</td>
		<td>
			<a title="Voiced alveolar affricate">dz</a>
		</td>
		<td><a title="Voiceless palato-alveolar affricate">t̠ʃ</a>
		</td>
		<td><a title="Voiced palato-alveolar affricate">d̠ʒ</a>
		</td>
		<td>
			<a title="Voiceless retroflex affricate">ʈʂ</a>
		</td>
		<td>
			<a title="Voiced retroflex affricate">ɖʐ</a>
		</td>
		<td>
			<a title="Voiceless alveolo-palatal affricate">t̠ɕ</a>
		</td>
		<td>
			<a title="Voiced alveolo-palatal affricate">d̠ʑ</a>
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col">Non-sibilant affricate</th>
		<td>
			<a title="Voiceless bilabial affricate">pɸ</a>
		</td>
		<td>
			<a title="Voiced bilabial affricate">bβ</a>
		</td>
		<td>
			<a title="Voiceless labiodental affricate">p̪f</a>
		</td>
		<td>
			<a title="Voiced labiodental affricate">b̪v</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless dental non-sibilant affricate">t̪θ</a>
		</td>
		<td>
			<a title="Voiced dental non-sibilant affricate">d̪ð</a>
		</td>
		<td><a title="Voiceless alveolar non-sibilant affricate">tɹ̝̊</a>
		</td>
		<td><a title="Voiced alveolar non-sibilant affricate">dɹ̝</a>
		</td>
		<td><a title="Voiceless postalveolar non-sibilant affricate">t̠ɹ̠̊˔</a>
		</td>
		<td><a title="Voiced postalveolar non-sibilant affricate">d̠ɹ̠˔</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless palatal affricate">cç</a>
		</td>
		<td>
			<a title="Voiced palatal affricate">ɟʝ</a>
		</td>
		<td>
			<a title="Voiceless velar affricate">kx</a>
		</td>
		<td>
			<a title="Voiced velar affricate">ɡɣ</a>
		</td>
		<td>
			<a title="Voiceless uvular affricate">qχ</a>
		</td>
		<td>
		</td>
		<td>
		</td>
		<td>
			<a title="Voiced epiglottal affricate">ʡʢ</a>
		</td>
		<td>
			<a title="Voiceless glottal affricate">ʔh</a>
		</td>
		<td style="border-left: 0; background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col">Sibilant <a title="Fricative consonant">fricative</a></th>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless alveolar fricative">s</a>
		</td>
		<td>
			<a title="Voiced alveolar fricative">z</a>
		</td>
		<td>
			<a title="Voiceless postalveolar fricative">ʃ</a>
		</td>
		<td>
			<a title="Voiced postalveolar fricative">ʒ</a>
		</td>
		<td>
			<a title="Voiceless retroflex fricative">ʂ</a>
		</td>
		<td>
			<a title="Voiced retroflex fricative">ʐ</a>
		</td>
		<td>
			<a title="Voiceless alveolo-palatal fricative">ɕ</a>
		</td>
		<td>
			<a title="Voiced alveolo-palatal fricative">ʑ</a>
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col">Non-sibilant fricative</th>
		<td style="border-right: 0; border-bottom: 0; text-align: center;">
			<a title="Voiceless bilabial fricative">ɸ</a>
		</td>
		<td>
			<a title="Voiced bilabial fricative">β</a>
		</td>
		<td>
			<a title="Voiceless labiodental fricative">f</a>
		</td>
		<td>
			<a title="Voiced labiodental fricative">v</a>
		</td>
		<td>
			<a title="Voiceless linguolabial fricative">θ̼</a>
		</td>
		<td>
			<a title="Voiced linguolabial fricative">ð̼</a>
		</td>
		<td>
			<a title="Voiceless dental fricative">θ</a>
		</td>
		<td>
			<a title="Voiced dental fricative">ð</a>
		</td>
		<td><a title="Voiceless alveolar non-sibilant fricative">θ̠</a>
		</td>
		<td><a title="Voiced alveolar non-sibilant fricative">ð̠</a>
		</td>
		<td><a title="Voiceless postalveolar non-sibilant fricative">ɹ̠̊˔</a>
		</td>
		<td><a title="Voiced postalveolar non-sibilant fricative">ɹ̠˔</a>
		</td>
		<td style="border-right: 0">
		</td>
		<td><a title="Voiced retroflex non-sibilant fricative">ɻ˔</a>
		</td>
		<td>
			<a title="Voiceless palatal fricative">ç</a>
		</td>
		<td>
			<a title="Voiced palatal fricative">ʝ</a>
		</td>
		<td>
			<a title="Voiceless velar fricative">x</a>
		</td>
		<td>
			<a title="Voiced velar fricative">ɣ</a>
		</td>
		<td>
			<a title="Voiceless uvular fricative">χ</a>
		</td>
		<td>
			<a title="Voiced uvular fricative">ʁ</a>
		</td>
		<td>
			<a title="Voiceless pharyngeal fricative">ħ</a>
		</td>
		<td>
			<a title="Voiced pharyngeal fricative">ʕ</a>
		</td>
		<td style="border-right: 0; border-bottom: 0; text-align: center;">
			<a title="Voiceless glottal fricative">h</a>
		</td>
		<td>
			<a title="Voiced glottal fricative">ɦ</a>
		</td>
	</tr>
	<tr>
		<th class="left_col"><a title="Approximant consonant">Approximant</a></th>
		<td colspan="2" style="border-top: 0;">
		</td>
		<td>
			<a title="Voiceless labiodental approximant">ʋ̥</a>
		</td>
		<td>
			<a title="Labiodental approximant">ʋ</a>
		</td>
		<td>
		</td>
		<td style="border-left: 0; border-top: 0;">
		</td>
		<td>
		</td>
		<td style="border-left: 0; border-right: 0; border-top: 0;">
		</td>
		<td>
			<a title="Voiceless alveolar and postalveolar approximants">ɹ̥</a>
		</td>
		<td>
			<a title="Alveolar and postalveolar approximants">ɹ</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex approximant">ɻ̊</a>
		</td>
		<td>
			<a title="Retroflex approximant">ɻ</a>
		</td>
		<td>
			<a title="Voiceless palatal approximant">j̊</a>
		</td>
		<td>
			<a title="Palatal approximant">j</a>
		</td>
		<td>
			<a title="Voiceless velar approximant">ɰ̊</a>
		</td>
		<td>
			<a title="Voiced velar approximant">ɰ</a>
		</td>
		<td>
		</td>
		<td style="border-left: 0; border-top: 0;">
		</td>
		<td>
		</td>
		<td style="border-left: 0; border-top: 0;">
		</td>
		<td style="border-right: 0; border-top: 0;">
		</td>
		<td>
			<a title="Creaky-voiced glottal approximant">ʔ̞</a>
		</td>
	</tr>
	<tr>
		<th class="left_col"><a title="Flap consonant">Tap/Flap</a></th>
		<td>
		</td>
		<td>
			<a title="Bilabial flap">ⱱ̟</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Labiodental flap">ⱱ</a>
		</td>
		<td>
		</td>
		<td><a title="Linguolabial tap">ɾ̼</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless alveolar flap">ɾ̥</a>
		</td>
		<td>
			<a title="Dental and alveolar flaps">ɾ</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex flap">ɽ̊</a>
		</td>
		<td>
			<a title="Retroflex flap">ɽ</a>
		</td>
		<td colspan="2">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td>
		</td>
		<td>
			<a title="Uvular flap">ɢ̆</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Epiglottal flap">ʡ̆</a>
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col"><a title="Trill consonant">Trill</a></th>
		<td>
			<a title="Voiceless bilabial trill">ʙ̥</a>
		</td>
		<td>
			<a title="Bilabial trill">ʙ</a>
		</td>
		<td colspan="2">
		</td>
		<td>
		</td>
		<td>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless alveolar trill">r̥</a>
		</td>
		<td>
			<a title="Dental, alveolar and postalveolar trills">r</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex trill">ɽ̊ɽ̊</a>
		</td>
		<td>
			<a title="Retroflex trill">ɽɽ</a>
		</td>
		<td colspan="2">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td>
			<a title="Voiceless uvular trill">ʀ̥</a>
		</td>
		<td>
			<a title="Uvular trill">ʀ</a>
		</td>
		<td>
			<a title="Voiceless epiglottal trill">ʜ</a>
		</td>
		<td>
			<a title="Voiced epiglottal trill">ʢ</a>
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col"><a title="Lateral consonant">Lateral</a> affricate</th>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2">
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless alveolar lateral affricate">tɬ</a>
		</td>
		<td>
			<a title="Voiced alveolar lateral affricate">dɮ</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex lateral affricate">ʈɭ̊˔</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Voiceless palatal lateral affricate">cʎ̝̊</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Voiceless velar lateral affricate">kʟ̝̊</a>
		</td>
		<td>
			<a title="Voiced velar lateral affricate">ɡʟ̝</a>
		</td>
		<td colspan="2">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col">Lateral fricative</th>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2">
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless dental and alveolar lateral fricatives">ɬ</a>
		</td>
		<td>
			<a title="Voiced dental and alveolar lateral fricatives">ɮ</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex lateral fricative">ɭ̊˔</a>
		</td>
		<td>
			<a title="Voiced retroflex lateral fricative">ɭ˔</a>
		</td>
		<td>
			<a title="Voiceless palatal lateral fricative">ʎ̝̊</a>
		</td>
		<td>
			<a title="Voiced palatal lateral fricative">ʎ̝</a>
		</td>
		<td>
			<a title="Voiceless velar lateral fricative">ʟ̝̊</a>
		</td>
		<td>
			<a title="Voiced velar lateral fricative">ʟ̝</a>
		</td>
		<td colspan="2">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col">Lateral approximant</th>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2">
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless dental, alveolar and postalveolar lateral approximants">l̥</a>
		</td>
		<td>
			<a title="Dental, alveolar and postalveolar lateral approximants">l</a>
		</td>
		<td colspan="2">
		</td>
		<td>
			<a title="Voiceless retroflex lateral approximant">ɭ̊</a>
		</td>
		<td>
			<a title="Retroflex lateral approximant">ɭ</a>
		</td>
		<td>
			<a title="Voiceless palatal lateral approximant">ʎ̥</a>
		</td>
		<td>
			<a title="Palatal lateral approximant">ʎ</a>
		</td>
		<td>
			<a title="Voiceless velar lateral approximant">ʟ̥</a>
		</td>
		<td><a title="Velar lateral approximant">ʟ</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Uvular lateral approximant">ʟ̠</a>
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
	<tr>
		<th class="left_col">Lateral tap/flap</th>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2">
		</td>
		<td colspan="2">
		</td>
		<td style="border-left: 0; border-right: 0;">
		</td>
		<td>
			<a title="Dental and alveolar lateral flaps">ɺ</a>
		</td>
		<td colspan="2">
		</td>
		<td>
		</td>
		<td>
			<a title="Retroflex lateral flap">ɭ̆</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Palatal lateral flap">ʎ̆</a>
		</td>
		<td>
		</td>
		<td>
			<a title="Velar lateral tap">ʟ̆</a>
		</td>
		<td colspan="2">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
		<td colspan="2" style="background: #ddd;">
		</td>
	</tr>
</table>